*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #240758;
.edu-nsw act foundation-<uniquifier> {
  font-family: "Edu NSW ACT Foundation", cursive;
}
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 77px;
    
}
nav div{
    margin-left: -27rem;
    margin-top: 1rem;
    font-size: 30px;
    justify-content: space-around;
    display: flex;
    letter-spacing: 1px;
    cursor: pointer;
    color: white;
    position: relative;
    
   
}
nav div:hover{
    color:black;
    background: linear-gradient(to left , #E5D4FF 0% ,#cdade8 0%); 
transition: .5s ease-in-out; 
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 0px; 
    
}
nav ul li{
    height: 38px; 
    list-style: none;
    margin: 0 23px;
    cursor: pointer;
    color: white;

}
nav ul li:hover{
    color: #a855f7;
}
.main p{
margin-top: 10rem;
margin-left: 52rem;
font-size: 43px;
cursor: pointer;
color: white;

}

div p{
    margin-top: 1rem;
margin-left: 52rem;
font-size: 40px;
cursor: pointer;
color: white;
}
.contain p{
    font-size: 20px;
    font-weight: bold;
    font-family: monospace;
}
.input ul:hover{
    /* box-shadow: -8px 4px 21px #9333ea; */
}
.input ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    background-color: #7e22ce;
    font-size: 1.3rem;
    margin: 10px;
    width: 98%;
    height: 3em;
    border: 3px solid ;
    
}
 .input ul li{
    color: white;
}
.input ul li a{
    text-decoration: none;
    color: white;
    padding: 30px;

}
 .input ul li a:hover{
    color:#E5D4FF; 
    text-decoration: underline;
    box-shadow: -4px -8px 29px  #9333ea;

} 

div img{
width: 13%;
height: 300px;
margin-left: 15%;
margin-top:-18%;
border: 18px solid;
    border-radius: 140px;
}
div img:hover{
    box-shadow:-2px -3px 36px  #a855f7;
}
