*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #FFF2D7;
.edu-nsw act foundation-<uniquifier> {
  font-family: "Edu NSW ACT Foundation", cursive;
}
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 77px;
    
}
nav div{
    margin-left: -27rem;
    margin-top: 1rem;
    font-size: 30px;
    justify-content: space-around;
    display: flex;
    letter-spacing: 1px;
    cursor: pointer;
    color: black;
    position: relative;
    font-family: fantasy;
    
   
}
nav div:hover{
    color:white;
    background: #A87676;
transition: .5s ease-in-out; 
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 0px; 
    
}
nav ul li{
    height: 38px; 
    list-style: none;
    margin: 0 23px;
    cursor: pointer;
    color: black;

}
nav ul li:hover{
    color: #a855f7;
}
.main p{
margin-top: 10rem;
margin-left: 52rem;
font-size: 43px;
cursor: pointer;
color: black;

}

div p{
    margin-top: 1rem;
margin-left: 52rem;
font-size: 40px;
cursor: pointer;
color: black;
}
.contain p{
    font-size: 20px;
    font-weight: bold;
    font-family: monospace;
}
.input ul:hover{
    /* box-shadow: -8px 4px 21px #9333ea; */
}
.input ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
   
    font-size: 1.3rem;
    margin: 10px;
    width: 98%;
    height: 3em;
    border: 3px solid ;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
}
 .input ul li{
    color: black;
}
.input ul li a{
    text-decoration: none;
    color: black;
    padding: 30px;

}

div img{
width: 13%;
height: 300px;
margin-left: 15%;
margin-top:-18%;
border: 18px solid;
    border-radius: 140px;
}
div img:hover{
    box-shadow:-2px -3px 36px  #A87676;
}
